:root {
    --button-primary-color: rgb(38, 158, 92);
    --button-primary-color-1: rgb(49, 197, 116);
}

.addContent-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.addContent-button {
    border-color: var(--button-primary-color);
    color: var(--button-primary-color);
    border: 2px var(--button-primary-color) solid;
    font-weight: bold;
}

.addContent-button:hover {
    background: var(--button-primary-color);
    color: black;
}

.addContent-selected {
    background: var(--button-primary-color);
    color: white;
}