.word-wrapper {
    margin: auto;
    width: 50%;
    margin-top: 10px;

}

.word-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.word-form label {
    text-align: center;
    margin-right: 1rem;
}

.form-group {
    display: flex;
    justify-content: center;
}

.wordAdd svg {
    transition: all .2s ease-in-out;
}
.wordAdd svg:hover {
    border-radius: 5px;
    background: black;
    fill: white;
    cursor: pointer;

}

.wordSubmit {
    width: 5rem;
}
