:root {
    --box-width: 70px;
    --box-height: calc(var(--box-width) * 1.5);
}

.box-wrapper {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.box-holder {
    margin-right: 20px;
}

.box-border {
    border: 1px solid black;
}

.box-card {
    display: flex;
    width: var(--box-width);
    height: var(--box-height);
}

.box-mathOperation {
    width: calc(var(--box-width) * .2);
    height: var(--box-height);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-mathNumbers {
    width: calc(var(--box-width) * .8);
    height: var(--box-height);
    justify-content: center;
}

.box-number {
    height: calc(var(--box-height) / 2);
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.box-outsideBottom {
    width: var(--box-width);
    height: calc(var(--box-height) * .3);
    border-top: 0px;
}

.box-letter {
    height: calc(var(--box-height) * .5);
    border-bottom: 1px solid black;
}